<!DOCTYPE html>
<html  lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<div>
    <h2>Customers List</h2>
    <hr>
    <table  border="1">
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Gender</th>
            <th>CreatedAt</th>
            <th>UpdatedAt</th>
          </tr>
     
          <tr th:each="customer:${customers}">
            <td th:text="${customer.id}"></td>
            <td th:text="${customer.name}"></td>
            <td th:text="${customer.email}"></td>
            <td th:text="${customer.gender}"></td>
            <td th:text="${customer.createdAt}"></td>
            <td th:text="${customer.updatedAt}"></td>
          </tr>      
    </table>
    <br>
    <a th:if="${currentPage > 1}" th:href="/@{'/pages/1'}">First</a>
   <span th:unless="${currentPage > 1}">First</span>
    <a th:if="${currentPage > 1}" th:href="/@{'/pages/' + ${currentPage - 1}}">Previous</a>
    <span th:unless="${currentPage > 1}">Previous</span>
    <span th:each="i: ${#numbers.sequence(1, totalPages)}">
    <a th:if="${currentPage != i}" th:href="/@{'/pages/' + ${i}}">[[${i}]]</a>
    <span th:unless="${currentPage != i}">[[${i}]]</span>
    &nbsp;
</span>
<a th:if="${currentPage < totalPages}" th:href="/@{'/pages/' + ${currentPage + 1}}">Next</a>
<span th:unless="${currentPage < totalPages}">Next</span>
<a th:if="${currentPage < totalPages}" th:href="/@{'/pages/' + ${totalPages}}">Last</a>
<span th:unless="${currentPage < totalPages}">Last</span>
</div>
</body>
</html>